# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MPLAB configration
Makefile
nbproject/
microPlane.mc3
.vscode/
microPlane.X.code-workspace

# MPLAB objects
*.i
*.p1
add/src/artificialBird.X/dist/default/production/artificialBird.X.production.*
add/src/artificialBird.X/build/default/production/mcc_generated_files/system/src/*.i
add/src/artificialBird.X/build/default/production/mcc_generated_files/system/src/*.p1
add/src/artificialBird.X/build/default/production/*.i
add/src/artificialBird.X/build/default/production/*.p1
add/src/artificialBird.X/dist/default/production/*.i
add/src/artificialBird.X/dist/default/production/*.p1

# Doxygen output
add/src/artificialBird.X/docs/
cpputest

# others
*_local.md